---
import HeadLayout from '@layouts/base/HeadLayout.astro'
import HtmlLayout from '@layouts/base/HtmlLayout.astro'
import Markdown from '@components/Markdown.astro'
import Header from '@components/Header.astro'
import Social from '@components/Social.astro'
import PageContainer from '@components/PageContainer.astro'

import { queryPostsFromIssues } from '../../services'
import { formatDate, parseMarkdown } from '../../utils'
import { repoName, repoOwner } from 'blogConfig'

import type { IssueContent } from '../../services/interface'

type ExtraData = {
  prev: { number: number; title: string } | null
  next: { number: number; title: string } | null
}

export async function getStaticPaths() {
  const { repository } = await queryPostsFromIssues({ withContent: true })
  const { issues } = repository
  const { nodes } = issues
  return nodes.map((node, index) => {
    const prev = nodes[index - 1]
    const next = nodes[index + 1]

    return {
      params: {
        id: node.number.toString(),
      },
      props: {
        ...node,
        prev: prev ? { number: prev.number, title: prev.title } : null,
        next: next ? { number: next.number, title: next.title } : null,
      },
    }
  })
}

const {
  number,
  title,
  body = '',
  labels,
  createdAt,
  url,
  // prev,
  // next,
} = Astro.props as IssueContent & ExtraData

const date = formatDate(createdAt)

const markdown = parseMarkdown(body)
---

<HtmlLayout>
  <HeadLayout slot="head" title={`${title} | zhangyu1818`} description={title} />
  <PageContainer>
    <Header />
    <article class="flex flex-col gap-8 rounded-md bg-background p-6 md:dark:bg-accents-1">
      <div class="mb-8 w-full">
        <h1 class="pb-2 text-3xl font-semibold">{title}</h1>
        <p class="flex justify-between text-sm text-accents-5">
          <a class="underline" href={url}>View on Github</a>
          <span class="text-xs">{date}</span>
        </p>
      </div>
      <Markdown class="w-full">
        <Fragment set:html={markdown} />
      </Markdown>
      <p class="self-start">
        {
          labels.nodes.map(node => (
            <a href={`/tags/${node.name}`} class="mr-1 text-sm text-accents-5">
              #{node.name}
            </a>
          ))
        }
      </p>
      <Social class="self-start" />
    </article>
  </PageContainer>
</HtmlLayout>

<script
  is:inline
  src="https://utteranc.es/client.js"
  repo={`${repoOwner}/${repoName}`}
  issue-number={number}
  theme="preferred-color-scheme"
  crossorigin="anonymous"
  async></script>
