---
import { formatDate } from '../utils'

import type { Label } from '../services/interface'
import Icon from './Icon.astro'

interface Props {
  number: number
  labels: Label[]
  title: string
  createdAt: string
}

const { number, title, labels, createdAt } = Astro.props

const date = formatDate(createdAt)
---

<a rel="prefetch" href={`/post/${number}`}>
  <div class="mb-8 flex flex-col gap-4">
    <div class="flex-none">
      {
        labels.map(label => (
          <span
            role="button"
            data-url={`/tags/${label.name}`}
            class="tag-link mr-2 text-xs text-accents-5"
          >
            #{label.name}
          </span>
        ))
      }
    </div>
    <h1 class="font-semibold">{title}</h1>
    <span class="flex items-center text-xs text-accents-5">
      <Icon name="calendar" />
      {date}
    </span>
  </div>
</a>

<script>
  const tagLinks = document.querySelectorAll<HTMLElement>("[role='button'].tag-link")
  tagLinks.forEach(tag => {
    tag.onclick = event => {
      event.stopPropagation()
      const target = event.target as HTMLElement
      const url = target.dataset.url
      window.open(url)
    }
  })
</script>
