---
import HeadLayout from '@layouts/base/HeadLayout.astro'
import HtmlLayout from '@layouts/base/HtmlLayout.astro'
import Markdown from '@components/Markdown.astro'
import Header from '@components/Header.astro'
import Social from '@components/Social.astro'
import PageContainer from '@components/PageContainer.astro'

import { formatDate, getLangFromUrl, langPrefix, parseMarkdown, useTranslations } from '@utils'
import { defaultLanguage } from '@i18n/languages'

import type { DiscussionContent } from '@services/interface'

type ExtraData = {
  prev: { number: number; title: string } | null
  next: { number: number; title: string } | null
}

const {
  number,
  title,
  body = '',
  labels,
  createdAt,
  url,
  // prev,
  // next,
} = Astro.props as DiscussionContent & ExtraData

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const [addPrefix] = langPrefix(lang)
const date = formatDate(createdAt, lang)

const markdown = parseMarkdown(body)
---

<HtmlLayout>
  <HeadLayout slot="head" title={`${title} | zhangyu1818`} description={title} />
  <PageContainer>
    <Header />
    <article class="flex flex-col gap-8 rounded-md bg-background md:dark:bg-accents-1">
      <div class="mb-8 w-full">
        <h1 class="pb-2 text-3xl font-semibold">{title}</h1>
        <p class="flex justify-between text-sm text-accents-5">
          <a class="underline" href={url}>{t('view.on.github')}</a>
          <span class="text-xs">{date}</span>
        </p>
      </div>
      <Markdown class="w-full">
        <Fragment set:html={markdown} />
      </Markdown>
      <p class="self-start">
        {
          labels.nodes.map(node => (
            <a href={addPrefix(`/tags/${node.name}`)} class="mr-1 text-sm text-accents-5">
              #{node.name}
            </a>
          ))
        }
      </p>
      <Social class="self-start" />
    </article>
    <script
      is:inline
      id="giscus-script"
      src="https://giscus.app/client.js"
      data-repo="zhangyu1818/blog"
      data-repo-id="MDEwOlJlcG9zaXRvcnkzMjk0OTk1NjU="
      data-mapping="number"
      data-term={`${number}`}
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang={lang === defaultLanguage ? 'en' : 'zh-CN'}
      crossorigin="anonymous"
      async></script>
  </PageContainer>
</HtmlLayout>
